{% extends "base.html" %}

{% block content %}
<div class="col-sm-10 col-sm-offset-1">
    <h1 class="text-center">글 목록</h1>
    <br/>
    <p class="text-right">
        <a href="{% url 'create' %}">
            <input class="btn btn-lg btn-warning" type="button" value="글 작성" />
        </a>
    </p>

    {% for post in posts %}
        <div class="thumbnail">
            <a href="{{ post.get_absolute_url }}">
                <h3>{{ post.title|truncatechars:70 }}</h3>
            </a>
            <div>
                {{ post.content|truncatechars:70 }}
                <p class="text-right">{{ post.user.get_username }}</p>
            </div>
        </div>
    {% endfor %}
   <!-- Pagenation -->
    <div class="text-center">
        {% if page_obj.has_other_pages %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
